* {
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.player-background {
    filter: blur(5px);
}

.background {
    display: none;
    width: 100vw;
    height: 100vh;
}

.background.active {
    display: block;
}

.player {
    width: 30%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #B8DDDB;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 5px;
}

.player-picture {
    height: 50%;
}

.cover {
    display: none;
    width: 100%;
    height: 100%;
}

.cover.active {
    display: block;
}


.player-navigation {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-info {
    display: none;
    text-align: center;
    font-size: 90%;
    height: 30%;
    width: 100%;
    letter-spacing: 0.2em;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.singer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.song-info.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
}

.next-prev {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-prev-button {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.play-pause {
    background: url(img/play-icon.svg) center no-repeat;
    width: 75%;
    height: 75%;
    cursor: pointer;
}

.play-pause.active {
    background: url(img/pause-icon.svg) center no-repeat;
}

.time-and-volume {
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
}

.volume {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-button {
    background: url(img/volume-icon.svg) center no-repeat;
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.volume-button.active {
    background: url(img/mute-icon.svg) center no-repeat;
}

.progress-bar-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    width: 90%;
    height: 10px;
    border-radius: 5px;
    background: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress {
    background: #08AD74;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

.git-info {
    display: flex;
    width: 30%;
    cursor: pointer;
    align-items: center;
}

.git-pic {
    width: 30%;
    height: 70%;
    margin: 2px;
}

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 70%;
    text-align: center;
    color: #B8DDDB;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.course-logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.logo-pic {
    width: 100%;
    height: 100%;
}

.link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

